

.image {
  display: flex;
  justify-content: center;
  
}

.mark img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1000px;
  z-index: 2;
}

.jez img{
  position: relative;
  top: 10px;
  left: 10px;
  width: 1000px;
  z-index: 1;
}