.carousel {
  /* min-height: 50px; */
  width: 500px;
  height: 300px;
}

.carousel .item {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* .carousel-inner > .item > img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
} */