.nav-item {
  padding: 10px;
}

.home {
  padding: 10px;
  padding-left: 20px;
}


/* 
ul {
  list-style: none;
}


.nav-menu {
  display: none;
}

.active {
  display: block;
  justify-content: end;
}

.nav-links {
  color: grey;
  text-decoration: none;
}  */