.navbar {
  display: flex;
  height: 120px;
}

.nav-item {
  padding: 0px;
}

.nav {
  text-decoration: none;
  top:0px;
  right:0px;
}

.menu-icon {
  justify-items: end;
}

.home {
  padding: 10px;
  padding-left: 20px;
}



ul {
  list-style: none;
}


.nav-menu {
  display: none;
}

.active {
  display: inline;
  /* justify-content: end; */
}

.nav-links {
  color: grey;
  text-decoration: none;
} 