body {
  background-color: #D0CBCF !important;
  font-family: 'Abel', sans-serif;
}

/* ----Nav---- */
*/
.navbar {
  display: flex;
  height: 120px;
  background-color: #D0CBCF;
  width: 100%;
}

.nav {
  text-decoration: none;
  color: grey;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 70px;
}

.menu-icon {
  padding-top: 75px;
}

.home {
  padding: 10px;
  padding-left: 20px;
}

ul {
  list-style: none;
}

.nav-menu {
  display: none;
}

.nav menu active {
  padding-left: 0px;
}

.active {
  display: block;
}

.nav-links {
  color: grey;
  text-decoration: none;
  font-size: small;
} 

/* ----Comments---- */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-size: x-small;
  padding-top: 50px;
}

.header-detail {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 0px;
}

.form-comment {
  justify-content: center;
  margin: 0 auto;
  
}

.text-name {
  width: 180px;
  padding-right: 50px;
}

.text-quote {
margin: auto 0;
width: 250px;
}

.submit {
  margin-top: 10px;
}

.comments {
width: 400px;
padding-top: 50px;
margin: 0 auto;
color: #6C757D;
}

.form-control {
  background-color: white;
  justify-content: center;
}

.comment-box {
border: #CED4DA solid 1px;
border-radius: 5px;
background-color: #FFFFFF;
justify-content: center;
align-items: center;
display: block;
margin: 0 auto;
}

.comment-name {
padding: 0px;
margin-bottom: 10px;
padding-left: 5px;
}

.comment-quote {
margin-bottom: 5px;
padding: 0px 5px 0px 12px;
}

/* ----Home---- */

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;

}

.img {
  margin-top: 100px;
}

/* 
https://stackoverflow.com/questions/17954874/cross-fade-between-images-with-css-in-loop
http://css3.bradshawenterprises.com/cfimg/
https://stackoverflow.com/questions/4010624/overlap-images-in-css/4010664
*/

.images img{
  position:absolute;
  top:0;
-webkit-animation-name: fade;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 5s;
animation-name: fade;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}


@-webkit-keyframes fade {
  0% {
    opacity:.5;
  }
  55% {
  opacity:.5;
  }
  85% {
  opacity:.2;
  }
  100% {
  opacity:1;
  }
}
@keyframes fade {
  0% {
  opacity:1;
}
55% {
opacity:.5;
}
85% {
opacity:.2;
}
100% {
opacity:.5;
}
}

.mark {
  background-color: #D0CBCF;
}

.mark img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 2;
}

.jez img{
  position: absolute;
  animation-delay: -1s;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 1;
}

/* ----Carousel---- */

.carousel-all carousel slide {
  display: flex;
  justify-content: center;
  align-content: center;
}

.carousel-all {
  min-height: 50px;
  width: 500px;
  height: 320px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.carousel .item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----Footer---- */

.home-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 2200px;
}

.external-link {
  color: grey;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 150px;
}

.copywrite {
  font-size: xx-small;
  padding-bottom: 0px;
}

.art-link {
  font-size: xx-small;
  padding-top: 0px;
}

/* ----Media Query---- */

@media only screen and (max-width: 600px) {
  .nav {
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .nav-links {
    font-size: x-small;
  }

  .menu-icon {
    padding-top: 10px;
  }

  .form-comment {
    width: 95%;
  }

  .comments {
    width: 95%;
  }

  .carousel-all {
    width: 95%;
    height: 235px;
  }

  .home-footer {
    padding-top: 900px;
  }
}

@media only screen and (max-width: 400px) {
  .home-footer {
    padding-top: 600px;
  }
}