body {
  background-color: #D0CBCF;
}

/* .App {
  /* text-align: center; */
  /* display: flex; */
 */

/* ----Nav---- */
.navbar {
  display: flex;
  height: 120px;
  background-color: #D0CBCF;
  width: 100%;
}

/* .nav-item {
  padding: 10px;
} */

.nav {
  text-decoration: none;
  color: grey;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 70px;
}

.menu-icon {
  padding-top: 75px;
}

.home {
  padding: 10px;
  padding-left: 20px;
}

ul {
  list-style: none;
}

.nav-menu {
  display: none;
}

.nav menu active {
  padding-left: 0px;
}

.active {
  display: inline;
  /* justify-content: end; */
}

.nav-links {
  color: grey;
  text-decoration: none;
  font-size: small;
} 

/* ----comments---- */

.form-container {
  width: 10%;
  margin: 0 auto;
  
}

.form-comment {
  /* display: flex; */
  justify-content: center;
  /* width: 50%; */
  margin: 0 auto;
  
}

/* .d-block w-100 {
  justify-content: center;
  align-items: center;
} */

.text-name {
  width: 200px;
}

.text-quote {
width: 200px;
}

.comments {
width: 400px;
padding-top: 80px;
margin: 0 auto;
}

.form-control {
  background-color: white;
  justify-content: center;
}

.comment-box {
border: #D6D6D6 solid 1px;
border-radius: 8px;
background-color: white;
justify-content: center;
align-items: center;
display: block;
margin: 0 auto;

}

.comment-name {
padding: 0px;
}

.comment-quote {
padding-top: 0px;
}

/* .input {
  justify-content: center;
  align-items: center;
} */

/* ----Home---- */

.images {
  background-color: #D0CBCF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;

}

.img {
  margin-top: 100px;
}

/* 
https://stackoverflow.com/questions/17954874/cross-fade-between-images-with-css-in-loop
http://css3.bradshawenterprises.com/cfimg/
https://stackoverflow.com/questions/4010624/overlap-images-in-css/4010664
*/

.images img{
  position:absolute;
  top:0;
-webkit-animation-name: fade;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 5s;
animation-name: fade;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}


@-webkit-keyframes fade {
  0% {
    opacity:1;
  }
  55% {
  opacity:.5;
  }
  85% {
  opacity:.2;
  }
  100% {
  opacity:.5;
  }
}
@keyframes fade {
  0% {
  opacity:1;
}
55% {
opacity:.5;
}
85% {
opacity:.2;
}
100% {
opacity:.5;
}
}


.mark img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 2;
  background-color: #D0CBCF;
}

.jez img{
  /* -webkit-animation-delay: -4s; */
  position: absolute;
  animation-delay: -1s;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 1;
}

.div.mark {
  background-color: #D0CBCF;
}

/* ----Carousel---- */
.carousel-all carousel slide {
  display: flex;
  justify-content: center;
  align-content: center;
}

.carousel-all {
  min-height: 50px;
  width: 500px;
  height: 320px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.carousel .item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .nav {
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .nav-links {
    font-size: x-small;
  }

  .menu-icon {
    padding-top: 10px;
  }

  .carousel-all {
    width: 100%;
    height: 250px;
  }
}